---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="About · Beans" description="About the beans log." initialCommand="$ bean about">
  <section class="about-bean" aria-hidden="true">
    <pre>
        .-"""-.
      .'  _   _ '.
     /   (o) (o)  \
    |     .-"-.    |
    |    /     \   |
     \   \     /  /
      '._'---'_.'
    </pre>
  </section>
  <section class="window">
    <h1>About <em>Beans</em></h1>
    <p>
      This is a coffee log created to trace the shifting contours of a morning coffee ritual. 
      This is for being present and harnessing a noting attention.   
      This is about the techniques, the context, the experiences. 
      This marks single cups with its record of choices, consequences and karma.
    </p>
  </section>
</BaseLayout>
